@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@page
  margin: 0mm
  size: auto
*
  box-sizing: border-box
body
  box-sizing: content
  font-family: 'Poppins'
  margin: 0
  padding: 0
.page
  text-align: center
  transition: all 1s ease
  width: 6in
.label
  height: 4in
  // margin: 5px 0 0 15px
  overflow: hidden
  position: relative
  text-align: center
  width: 6in
  &:after,
  &:before
    content: "NOT FOR SALE"
    font-weight: bold
    pointer-events: none
    position: absolute
    transform: rotate(-45deg)
    bottom: 53px
    right: 10px
.title
  font-family: 'Poppins'
  font-size: 50px
  font-weight: 500
  margin: 40px 0
.desc
  font-size: 16px
  font-weight: 300
  left: 50%
  margin: 0
  max-width: calc(100% - 1em)
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  width: 100%
.image
  bottom: 40px
  left: 50%
  position: absolute
  text-align: center
  transform: translate(-50%, 0)
  width: 80px
.image-upload
  height: auto
  text-align: center
  top: 0px
  width: 80px
button
  cursor: pointer
  outline: none
  padding: 1.5em 1.4em
  #img-upload
    width: 25px
.orientation
  display: block
  transition: transform .1s ease
  background: white
  border: 2px solid black
  border-radius: 0 5px 0 0
  height: 17px
  position: relative
  width: 22px
  &::after
    background: black
    border: 1px solid black
    content: ''
    display: block
    height: 3px
    position: absolute
    right: 0
    top: 0
    width: 3px
.control-panel
  margin: 1em
  position: absolute
  right: 0
  text-align: center
  top: 0
  z-index: 1
  label
    display: block
  input
    background: transparent
    border: 1px solid white
    padding: .25em
    text-align: center
    width: 60px
    &::after
      content: 'px'
      display: block
@media only print
  .control-panel
    display: none
@media only screen
  body
    background-color: #ddd
  .label
    background: white
    border-radius: 20px
    box-shadow: inset 0px 0 5px rgba(0, 0, 0, 0.05)

/////
// Portrait Mods
/////

.portrait
  .label
    height: 6in
    margin-bottom: 0 !important
    width: 4in
  .title
    margin: .5em 0
  .desc
    top: calc(50% - 12px)
  .orientation
    transform: rotate(-90deg)
